
body{
   min-width:840px;
   max-width:1140px;
   text-align:center; /*For IE6 Shenanigans*/
   margin-left:auto;
   margin-right:auto;
}

*{
   margin:0;
   padding:0;
}

ul{
  padding-left: 1.4em;
}

li{
  padding-left: 1.4em;
  margin-left:  2.4em;
}


table#middle{
    margin-left:auto;
    margin-right:auto;
}
/*
 *  following is to remove table border
 */
table#noborder {
    border: none;
}
#noborder td {
    padding: 2px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
    border: none;
}
#noborder tr.heading {
    border-bottom: none;
}
